@{
    ViewData["Title"] = "Respuesta";
}

<h1>Agradecemos su consulta!</h1>
<p>Alguien responderá a la brevedad. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec convallis sapien. Sed nibh velit, convallis ac ultricies sit amet, facilisis vitae felis. In malesuada quis elit a venenatis.</p>
<div>
    <a asp-action="Index" asp-controller="Home">Home</a>
</div>